<%= form_for(@list) do |f| %>
    <%= f.hidden_field :user_id, :value => @user_id %>

    <% if @list.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @list.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :subject %>
    <%= f.text_field :subject %><br>
    
    <%= f.fields_for :items do |item| %>
        
        <%= item.label :item %>
        <%= item.text_field :item %>
    
        <%= item.label :quantity %>
        <%= item.text_field :quantity %><br>
 
    <% end %>
 
    <%= f.submit %>
<% end %>
