<%= form_for(@list) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
    
    <%= f.fields_for :list do |list| %>
        <%= list.label :item %>
        <%= list.text_field :item %><br>
 
        <%= list.label :done %>
        <%= addr.check_box :done %><br>
    <% end %>
 
    <%= f.submit %>
<% end %>
