
<% user_lists.each.with_index(1) do |list, no| %>
    <label><%= no %></label><br> 
    <label>Subject: </label><br>
    <%= link_to list.subject, list_path(list.id) %><br>
    
    <% if !list.share_users.empty? && !list.users.find_by(:id => session[:user_id]) %>
                                               
        <label>Share users: </label><br>

        <ul>
        <% list.share_users.each do |s_user| %>
            <li><%= s_user.user.username  %> / note:<%= s_user.note %></li>

        <% end %>
        </ul>
    <% elsif list.users.find_by(:id => session[:user_id]) %>
        <label>List creator: </label><br>
        <%= list.user.username %>
    <% end %>
    <br>
    <br>
<%end%>
